<li>
  <%= link_to_unless current_page.last?, raw(t 'views.pagination.last'), url, remote: remote, class: 'px-4 py-2 border text-sm font-medium border-gray-300 bg-white text-gray-500 hover:bg-gray-50' %>
</li>
