<li>
  <%= link_to_unless current_page.last?, raw(t 'views.pagination.next'), url, rel: 'next', remote: remote, class: 'px-4 py-2 border text-sm font-medium text-gray-700 rounded-r-md border-gray-300 bg-white hover:bg-gray-50' %>
</li>
