<%= paginator.render do %>
  <nav aria-label="Pagination" class="my-8">
    <div class="flex items-center justify-center gap-4">
      <%= prev_page_tag unless current_page.first? %>
      <%= next_page_tag unless current_page.last? %>
    </div>
  </nav>
<% end %>
